*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.parent{

    width: 25rem;
    height: 25rem;
}
/* ********************LOGİN CSS************************** */

.logoparent{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

form .input1{
    border-radius: 8px;
    background-color: transparent;
    height: 56px;
    border: 1px solid rgb(29, 29, 29);
    top: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

 
#btncontinue{
    width: 75px;
    height: 45px;
    border-radius: 25px;
    margin-top: 1rem;
    position: relative;
    right: -320px;
    
}
::placeholder{
    color:gray;
    font-weight: 600;
}

/* *************************** LOGİN CSS END******************************* */

/* ***************************** MYBO  BÖLÜMÜ **************************** */
.mybo{
    display: flex;
    justify-content: space-between;
    background: rgb(250, 247, 247);
    align-items: center;
}
.mybo img{
    margin-left: 3rem;
}
.mybo ul {
    margin-right: 2rem; 
    margin-top: 5px;   

}
.mybo ul li {
    list-style: none;
    display: inline-block;
    margin-left: 7px;
}
.mybo ul li  a{
    text-decoration: none;
    color: black;
    font-weight:600;
    font-size: smaller;

}
/********************************* KATEGORİ NAVBAR *************************/

nav{
    display: grid;
    place-items: center;
}
.kategori{
    margin-left: 8rem;
}
.kategori ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.kategori ul li{
    margin-left: 1rem;
}
.kategori ul li a{
    text-decoration: none;
    font-weight: 600;
    color: black;
    font-size: larger;
}
.div-container{
    position: relative;
  
}
.div-container .fa-magnifying-glass{
    position: absolute ;
    left: 10px;
    top: 35%;
}
::placeholder {
    color:#8a94b1 !important;
    text-align: center;

}
.div-container input{
    border-radius: 100px;
    border: transparent;
    width: 170px;
    height: 40px;
    background-color:rgb(250, 247, 247);
    margin-right: 7rem;
}
.i-container{
    position: relative;

}
 .i-container .fa-heart{
    position: absolute;
    right: 5rem;
    top: .6rem;
    font-size: large;
}
.i-container .fa-bag-shopping{
    position: absolute;
    right: 2.5rem;
    top: .6rem;
    font-size: large;
}
.bi-list{
    display: none;
}
.bi-search{
    display: none;
}

.bi-person{
    display: none;
}

/*************** KATEGORİ NAVBAR END ******************************/

/*************** TEXT-CAROUSEL-PARENT ****************************/

.carousel-parent{
 background-color:rgb(250, 247, 247);
display: grid;
place-items:center ;
height: auto;
width:auto;
padding-top: .7rem;
color:black;
font-weight: 600;
}
.carousel-parent p{
    font-size: small;
}
.carousel-parent p a{
    color: black;
    font-weight: 700;
    font-size: 20;
}

/*************** TEXT-CAROUSEL-PARENT END ****************************/

.aciklamaparent p{
    color: black;
    font-weight: 700;
    margin-top: 2rem;
}
.aciklamaparent h1{
    font-size: 65px;
    color: black;
    font-weight:900;
}
.aciklamaparent button{
    width: 90px;
    height: 40px;
    background: black;
    color: white;
    border-radius: 20px;
    margin-top: 2.3rem;
    margin-bottom: 3rem
}
/******************** VİDEO PARENT *************/
.video-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 76.5vh;
    width: 100%;
    border: 2 px solid red;
}

/************************************ ÜRÜN-SLİDER-PARENT ******/
.foto{
    width: 250px;
    height: 250px;
}

/******************************** BOX-İMG-PARENT *************************/

.box-img-parent ul {
    display: flex;
    justify-content: space-between;
    list-style: none;

}
.box-img-parent ul .li-box{
    width: calc( (100% / 3) );

}
.box-img-parent ul .li-box p{
    display: flex;
    justify-content: last baseline;
}

.box-img-parent ul .li-box li {
    margin: 1rem 1rem;
    background-color: #f8f8fa;
    height: 55vh;
    text-align: center;

}
.box-img-parent h3{
    margin-left: 2.8rem;
    margin-top: 3rem;
}














@media screen and (max-width:600px) {
    .mybo{
        display: none;
    }
    /********** NAVBAR MEDİA SCREEN********** */
    .kategori{
        display: none;
    }
    .div-container{
        display: none;
    }
    .bi-list{
        display: block;
        position: absolute;
        right:1px;
        top: 4px;
        font-size: x-large;
    }
    .i-container .fa-heart{
        display: none;
    }
    .i-container{
        top: 1rem;
        position: absolute;
    }
   .i-container .fa-bag-shopping{
        font-size: x-large;
    }
    .bi-search{
        display: block;
        position: absolute;
        right:120px;
        top: 9px;
        font-size: large;
    
    }
    .bi-person{
        display: block;
        position: absolute;
        right:80px;
        top: 4px;
        font-size: x-large;
    }
    /************ NAVBAR MEDİA SCREEN END  *************/
    /************ CAROUSEL-PARENT **********************/
    .carousel-item{
        font-size: small;
    }   
    /************ ACİKLAMA-PARENT  ****************/
  .aciklamaparent h1{
    font-size: 40px;
  }
  /****************** BOX-İMG-PARENT **************/

  .box-img-parent ul .li-box li{
        
    width: 300px;
        height: 30vh;
    }

}   

