*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.parent{

    width: 25rem;
    height: 25rem;
}
/* ********************LOGİN CSS************************** */

.logoparent{
   display: flex;
   justify-content: start;
}

form .input1{
    border-radius: 8px;
    background-color: transparent;
    height: 56px;
    border: 1px solid rgb(29, 29, 29);
    top: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

 
#btncontinue{
    width: 75px;
    height: 45px;
    border-radius: 25px;
    margin-top: 1rem;
    position: relative;
    right: -320px;
    
}
::placeholder{
    color:gray;
    font-weight: 600;
}

/* *************************** LOGİN CSS END******************************* */

/* ***************************** MYBO  BÖLÜMÜ **************************** */
.mybo{
    display: flex;
    justify-content: space-between;
    background: rgb(250, 247, 247);
    align-items: center;
}
.mybo img{
    margin-left: 3rem;
}
.mybo ul {
    margin-right: 3rem; 
    margin-top: 5px;   
}
.mybo ul li {
    list-style: none;
    display: inline-block;
    margin-left: 7px;
}
.mybo ul li  a{
    text-decoration: none;
    color: black;
    font-weight:600;
    font-size: smaller;

}
/********************************* KATEGORİ NAVBAR *************************/

.kategori{
display: grid;
place-items: center;
}
.kategori ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.kategori ul li{
    margin-left: 1rem;
    font-weight: 700;
    
}


@media screen and (max-width:600px) {
    .mybo{
        display: none;
    }
}