*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 5000px;
    overflow-x: hidden;
}
img{
    max-width: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.parent{

    width: 25rem;
    height: 25rem;
}
/* ********************LOGİN CSS************************** */

.logoparent{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

form .input1{
    border-radius: 8px;
    background-color: transparent;
    height: 56px;
    border: 1px solid rgb(29, 29, 29);
    top: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

 
#btncontinue{
    width: 75px;
    height: 45px;
    border-radius: 25px;
    margin-top: 1rem;
    position: relative;
    right: -320px;
    
}
::placeholder{
    color:gray;
    font-weight: 600;
}

/* *************************** LOGİN CSS END******************************* */

/* ***************************** MYBO  BÖLÜMÜ **************************** */
.mybo{
    display: flex;
    justify-content: space-between;
    background: rgb(250, 247, 247);
    align-items: center;
}
.mybo img{
    margin-left: 3rem;
}
.mybo ul {
    margin-right: 2rem; 
    margin-top: 5px;   

}
.mybo ul li {
    list-style: none;
    display: inline-block;
    margin-left: 7px;
}
.mybo ul li  a{
    text-decoration: none;
    color: black;
    font-weight:600;
    font-size: smaller;

}
/********************************* KATEGORİ NAVBAR *************************/

nav{
    display: grid;
    place-items: center;
}
.kategori{
    margin-left: 8rem;
}
.kategori ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.kategori ul li{
    margin-left: 1rem;
}
.kategori ul li a{
    text-decoration: none;
    font-weight: 600;
    color: black;
    font-size: larger;
}
.div-container{
    position: relative;
  
}
.div-container .fa-magnifying-glass{
    position: absolute ;
    left: 10px;
    top: 35%;
}
::placeholder {
    color:#8a94b1 !important;
    text-align: center;

}
.div-container input{
    border-radius: 100px;
    border: transparent;
    width: 170px;
    height: 40px;
    background-color:rgb(250, 247, 247);
    margin-right: 7rem;
}
.i-container{
    position: relative;

}
 .i-container .fa-heart{
    position: absolute;
    right: 5rem;
    top: .6rem;
    font-size: large;
}
.i-container .fa-bag-shopping{
    position: absolute;
    right: 2.5rem;
    top: .6rem;
    font-size: large;
}
.bi-list{
    display: none;
}
.bi-search{
    display: none;
}

.bi-person{
    display: none;
}

/*************** KATEGORİ NAVBAR END ******************************/

/*************** TEXT-CAROUSEL-PARENT ****************************/

.carousel-parent{
 background-color:rgb(250, 247, 247);
display: grid;
place-items:center ;
height: auto;
width:auto;
padding-top: .7rem;
color:black;
font-weight: 600;
}
.carousel-parent p{
    font-size: small;
}
.carousel-parent p a{
    color: black;
    font-weight: 700;
    font-size: 20;
}

/*************** TEXT-CAROUSEL-PARENT END ****************************/

/*************************** AÇIKLAMA PARENT**************************/

.aciklamaparent p{
    color: black;
    font-weight: 700;
    margin-top: 2rem;
}
.aciklamaparent h1{
    font-size: 65px;
    color: black;
    font-weight:900;
}
.aciklamaparent button{
    width: 90px;
    height: 40px;
    background: black;
    color: white;
    border-radius: 20px;
    margin-top: 2.3rem;
    margin-bottom: 3rem
}
/**********************************AÇIKLAMA-PARENT-END *****************/

/******************** VİDEO PARENT *************/
.video-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 76.5vh;
    width: 100%;
    border: 2 px solid red;
}

/************************************ ÜRÜN-SLİDER-PARENT ******/
.foto{
    width: 250px;
    height: 250px;
}

/******************************** BOX-İMG-PARENT *************************/

.box-img-parent ul {
    display: flex;
    justify-content: space-between;
    list-style: none;

}
.box-img-parent ul .li-box{
    width: calc( (100% / 3) );

}
.box-img-parent ul .li-box p{
    display: flex;
    justify-content: last baseline;
}

.box-img-parent ul .li-box li {
    margin: 1rem 1rem;
    background-color: #f8f8fa;
    height: 55vh;
    text-align: center;

}
.box-img-parent h3{
    margin-left: 2.8rem;
    margin-top: 3rem;
}
 /*******************************  BOX - İMG- PARENT END *************************************/
 /******************************* BOX2- İMG2- PARENT2 ****************************************/



.box-img-parent2 ul {
    display: flex;
    justify-content: space-between;
    list-style: none;

}
.box-img-parent2 ul .li-box2{
    width: calc( (100% / 4) );

}
.box-img-parent2 ul .li-box2 p{
    display: flex;
    justify-content: last baseline;
}

.box-img-parent2 ul .li-box2 li {
    margin: 1rem 1rem;
    background-color: rgb(243, 203, 130);
    height: 55vh;
    text-align: center;

}
.box-img-parent2 h3{
    margin-left: 2.8rem;
    margin-top: 3rem;
}

/******************************************** BOX2- İMG2- PARENT2 - END *********************/

/******************************************** BOX3- İMG3- PARENT3 *********************/

.box-img-parent3 ul {
    display: flex;
    justify-content: space-between;
    list-style: none;

}
.box-img-parent3 ul .li-box3{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: normal;


}
.box-img-parent3 ul .li-box3 p{
    display: flex;
    justify-content: last baseline;
}

 #yedi {
    margin: 1rem 1rem;
    height: 55vh;
    width: 24%;
    background-image: url(img/bune.webp);
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
}   
 #sekiz {
    margin: 1rem 1rem;
    height: 55vh;
    width: 24%;
    background-image: url(img/sekiz.jpg);
    background-position:center ;
    background-size: contain;
}   
 #dokuz {
    margin: 1rem 1rem;
    height: 55vh;
    width: 24%;
    background-image: url(img/Cocuk.webp);
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
}   
 #on {
    margin: 1rem 1rem;
    height: 55vh;
    width: 24%;
    background-image: url(img/Genc.jpg);
    background-position:center ;
    background-repeat: no-repeat;
    background-size: contain;
}   
 .box-img-parent3 ul .li-box3 li .btn-div{
    display: flex;
    justify-content: center;
    position: relative;
    top: 24rem;
    left: -3rem;
}
.box-img-parent3 h3{
    margin-left: 2.8rem;
    margin-top: 3rem;
}

.box-img-parent3 .li-box3 li #button1{
    border-radius: 20px;
    background-color: white;
    color: black;
    font-weight:600;
    text-align: center;
    width: 100px;
    height: 40px;
    border: none;
}
.box-img-parent3 .li-box3 li #button2{
    border-radius: 20px;
    background-color: white;
    color: black;
    font-weight: 600;
    text-align: center;
    width: 200px;
    height: 40px;
    border: none;
}
/******************************************** BOX2- İMG2- PARENT3 - END *********************/

/******************************************* SLİDER3 ****************************************/
    .slider3{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;
        width: 100%;
        height: 300px;
        border: 1px solid red;
    }
/******************************************* SLİDER3 END ************************************/


/****************************************** BOX-İMG-PARENT-4 *******************************/
.box-img-parent4{
    margin-top: 3rem;
}
.box-img-parent4 h3 {

    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.fotodiv{
    display: flex;
    justify-content: space-around;
    width: calc(100/2);
}
.fotodiv .firstfoto{
    width: 48%;
    height: 400px;
    background-image: url(img/firstfoto.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
 #nikeapp{
    position: relative;
    top: 18rem;
    left: 5rem;
    border-radius: 20px;
    border: none;
    padding: .5rem ;
    width: 100px;
    color: black;
    font-weight: bold;
    background-color: white;
}
#nikeapph{
    position: relative;
    top: 16rem;
    left: 5rem;
    color :rgb(255, 255, 255);
    font-weight: bold;
}
.fotodiv .secondfoto{
    width: 48%;
    height: 400px;
    background-image: url(img/secondfoto.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/****************************************** BOX-İMG-PARENT-4-END ***************************/

/****************************************** MİNİ-MENU *************************************/

.minimenu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
}
.minimenu ul li{
}
.minimenu ul .titleall{
    list-style: none;
    margin-bottom: 3rem;
}
.minimenu ul .titleall a{
    color: black;
    font-weight: 600;
    font-size: large;
}
.minimenu ul li{
list-style: none;    
margin-top: 1rem;

}
.minimenu ul li a:hover{
    color: black;
}
.minimenu ul li a{
    text-decoration: none;
    color: gray;
  
    font-size: medium;
}
/**************************************** MİNİ MENU END **********************************/


/************************ mobilminimenu *****************/
.mobilmenu{
    display: none;
}
/************************ mobilminimenu end *****************/

/************************ FOOTTER ***************************/

footer{
    
    width: 100%;
    height: 45vh;
    background-color: black;
}
.lists{
    margin-left: 10rem;
}
.lists .betwen li{
    display: inline-block;
    margin-right: 1rem;
    font-size:x-large;
    position: relative;
    right: 8rem;
}   
.lists ul {
    margin-top: 3rem;
    margin-left: 6rem;
}
.lists ul li {
    list-style: none;
    margin-top: 1rem;
    font-size: small;
}
.lists{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    background-color: black;
    color: gray;
}
.lists .title2{
    color: white;
}

.lists ul li:hover{
    color: white;
}

/**********lists2**********/
.lists2{
    display: flex;
    justify-content: space-around;
}
.lists2 ul{
    margin-top: 6rem;
}
.lists2 ul li{
    display: inline-block;
    color: gray;
    margin-left: 1rem;
}

.lists2 ul li:hover{
    color: white;
}


/*********************** FOOTER END *************************/

/******************************** PRODUCT ******************************/
.boxparent{
    display: flex;
    justify-content: center; /* Yatayda ortala */
    align-items: center; /* Dikeyde ortala */
    margin-top: 5rem;
}
#box1{
    width: 100px;
    height: 50vh;
    margin-right: 1rem;
}
#box2{
    width: 400px;
    height: 50vh;
    margin-right: 1rem;
}
#box3{
    width: 425px;
    height: 50vh;
    margin-left: 3rem;
    line-height: .8rem;
}
.box ul li {
list-style: none;

}
.box h1, .box p{
    color: black;
    font-weight: 700;
}

.ikidiv{
    display: flex;
    justify-content:space-evenly;
    margin-top: 4rem;

}
.size{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 25vh;
}
.size .sizebox{
    width: 110px;
    height: 45px;
    border: .5px solid rgba(128, 128, 128, 0.5);
    text-align: center;
    margin-left: 1rem;
    margin-bottom: .5rem;
    border-radius: 5px;
    padding: 1rem;
    font-weight: 400;
    font-size: large;
    color: black;
}
.sizeall{
    position: relative;
    right: 5rem;

}
/******************************** PRODUCT-END *************************/


/********************************************************************* MOBİL ************************************************************************************************/

@media screen and (max-width:600px) {
    body{
        overflow-x: hidden;
    }
    
    .mybo{
        display: none;
    }
    /********** NAVBAR MEDİA SCREEN********** */
    .kategori{
        display: none;
    }
    .div-container{
        display: none;
    }
    .bi-list{
        display: block;
        position: absolute;
        right:1px;
        top: 4px;
        font-size: x-large;
    }
    .i-container .fa-heart{
        display: none;
    }
    .i-container{
        top: 1rem;
        position: absolute;
    }
   .i-container .fa-bag-shopping{
        font-size: x-large;
    }
    .bi-search{
        display: block;
        position: absolute;
        right:120px;
        top: 9px;
        font-size: large;
    
    }
    .bi-person{
        display: block;
        position: absolute;
        right:80px;
        top: 4px;
        font-size: x-large;
    }
    /************ NAVBAR MEDİA SCREEN END  *************/
    /************ CAROUSEL-PARENT **********************/
    .carousel-item{
        font-size: small;
    }   
    /************ ACİKLAMA-PARENT  ****************/
  .aciklamaparent h1{
    font-size: 40px;
  }
  /****************** BOX-İMG-PARENT **************/
  .box-img-parent{
    margin-left: -1.9rem;
  }

  #sifir{
        width: 100%;
    }
    .box-img-parent ul .li-box .pdiv .pl{
        display: none;
    }
#bir{
    display: none;

}
#iki{
    display: none;
}

/********************* BOX-İMG-PARENT 2 ********/
.box-img-parent2{
    margin-top: 3.5rem;
    margin-left: -1.9rem;
}
#uc{
    width: 100%;
}
#dort {
    display: none;
}
#bes{
    display: none;
}
#alti{
    display: none;
}
/************************** BOX-İMG-PARENT2 END **********/

/************************** BOX-İMG-PARENT3 **************/
.box-img-parent3 ul .li-box3 li .btn-div{
 
}
.box-img-parent3{
    margin-top: 5rem;
}
.box-img-parent3 h3{
    margin-left: .8rem;
}
 #yedi{
    width: 90%;
    height: 65vh;
    margin-left: -1.2rem;
}
 #sekiz{
    display: none;
}
 #dokuz{
    display: none;
}
#on{
    display: none;
}

/************************** BOX-İMG-PARENT3-END**********/

/************************* BOX-İMG-PARENT-4 *************/
.box-img-parent4 .fotodiv{
    display: block;
}
.fotodiv .firstfoto{
    width: 95%;
    margin-left: .5rem;
}
#nikeapp{
    position: relative;
    left: 2rem;
}
#nikeapph{
    position: relative;
    left: 2rem;
}

.fotodiv .secondfoto{
    width: 95%;
    margin-left: .5rem;
}
/************************* BOX-İMG-PARENT-4-END *********/
/************************* MİNİ-MENU ********************/
.minimenu ul li {
    display: none;
}
/************************* MİNİ-MENU-END ****************/

/************************ mobilminimenu *****************/
.mobilmenu{
    display: block;
}
.mobilmenu ul li{
    list-style: none;
    color: black;
    font-size: medium;
    font-weight: 500;
    margin-top: 1rem;
}
/************************ mobilminimenu end *****************/


/************************ FOOTER ***************************/
.lists{
    display: block;
    margin-left: -7rem;
    padding: .1rem;
}


/************************ FOOTER-END ***********************/


}